BOX_ENV=local
BOX_POSTGRES_HOST=127.0.0.1
BOX_POSTGRES_PORT=5432
BOX_POSTGRES_USER=box
BOX_POSTGRES_PASSWORD=box
BOX_POSTGRES_DB=box
BOX_NATS_URL=nats://127.0.0.1:4222
BOX_SCENARIO=hotdog-stand
BOX_TIMEZONE=Europe/Helsinki
